{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amigo Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'amigo/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'amigo/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'amigo/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'amigo/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'amigo/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'amigo/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'amigo/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'amigo/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'amigo/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'amigo/css/jquery.scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'amigo/css/fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'amigo/css/swiper.min.css' %}">

    <link rel="stylesheet" href="{% static 'amigo/css/style.css' %}">
    
  </head>
  <body>
  

  <div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-flex align-items-center" data-aos="fade-down">
    <div class="site-logo">
      <a href="index.html">{{ name }}...Here are some of the photos I have of you</a>
    </div>    
  </header> 
  

  <div class="swiper-container gallery-top">
<div class="swiper-wrapper">

{% for photo in photos %}
<div class="swiper-slide cover" style="background-image: url('{% static photo %}');">
  <a href="{% static photo %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
</div>
{% endfor %}

</div>

<div class="swiper-button-next swiper-button-white"></div>
<div class="swiper-button-prev swiper-button-white"></div>
</div>
<div class="swiper-container gallery-thumbs">
<div class="swiper-wrapper">

{% for photo in photos %}
<div class="swiper-slide cover" style="background-image:url('{% static photo %}')"></div>
{% endfor %}
</div>
</div>

</div> <!-- .site-wrap -->
  
  <script src="{% static 'amigo/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'amigo/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'amigo/js/jquery-ui.js' %}"></script>
  <script src="{% static 'amigo/js/popper.min.js' %}"></script>
  <script src="{% static 'amigo/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'amigo/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'amigo/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'amigo/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'amigo/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'amigo/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'amigo/js/aos.js' %}"></script>

  <script src="{% static 'amigo/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'amigo/js/swiper.min.js' %}"></script>
  <script src="{% static 'amigo/js/jquery.scrollbar.js' %}"></script>
  <script src="{% static 'amigo/js/main.js' %}"></script>
  
  
    
  </body>
</html>